html.flypanels-open,
body.flypanels-open {
    height: 100%;
    overflow: hidden;
    width: 100%
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
.img-responsive {
    border: 0px none;
    display: block;
    height: auto;
    max-width: 100%;
    vertical-align: middle; 
  }
  
/* MOBILE SIDE MENU SEARCH 
------------------------------------ */
.mobile-search div {
    padding: 15px;
}
.mobile-search div input {
    background: #fff url('../img/search-icon.png') no-repeat right center;
    border-radius: 3px;
    border-width: 1px;
    padding: 5px;
    width: 218px;
}
.mobile-search div input:focus {
    border-width: 0px;
}
.flypanels-container {
    position: absolute !important;
    z-index: 4000 !important;
}
.flypanels-container .offcanvas {
    background-color: #333;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.53, 0.54, 0.54, 0.54);
    width: 260px;
}
.flypanels-container .offcanvas .panelcontent {
    bottom: 0;
    display: none;
    height: auto;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 50px 20px 20px 20px;
    right: 0;
    top: 0;
    width: auto;
    z-index: 3;
}

.flypanels-container .flypanels-left {
    float: left;
    margin-left: -260px;
}
.flypanels-container .flypanels-main {
    float: left;
    margin-left: 0px;
    width: 100%;
}
.flypanels-container .flypanels-main .flypanels-content {
    padding: 10px;
    padding-top: 50px;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    transition: all 0.2s cubic-bezier(0.53, 0.54, 0.54, 0.54);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}
.flypanels-container.openleft .flypanels-left {
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
    overflow: hidden;
    position: relative;
    width: 260px;
}
.flypanels-container.openleft .flypanels-left .panelcontent {
    position: absolute;
}
.flypanels-container.openleft .flypanels-main {
    overflow: hidden;
}
.flypanels-container.openleft .flypanels-main .flypanels-topbar {
    transition: all 0.2s cubic-bezier(0.53, 0.54, 0.54, 0.54);
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
}
.flypanels-container.openleft .flypanels-main .flypanels-content {
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.53, 0.54, 0.54, 0.54);
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
}
.flypanels-container.openleft .flypanels-main .flypanels-content .overlay {
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.flypanels-topbar {
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.2s cubic-bezier(0.53, 0.54, 0.54, 0.54);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    width: 100%;
    z-index: 1;
}

.flypanels-topbar a.flypanels-button-right {
    float: right;
}
.flypanels-topbar a i.fa-search:before {
    font-size: 20px;
    position: relative;
    top: -3px;
}
.panelcontent nav.flypanels-treemenu {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  /* Tree Menu Level 2-6 */
}
.panelcontent nav.flypanels-treemenu ul,
.panelcontent nav.flypanels-treemenu ul li {
    list-style: none;
    margin: 0;
    padding: 0; 
}
.panelcontent nav.flypanels-treemenu ul li div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    width: 260px;
}
.panelcontent nav.flypanels-treemenu ul li div a.link {
    color: #ffffff;
    display: inline-block;
    padding: 11px 15px 13px;
    text-decoration: none;
    width: 260px;
}
.panelcontent nav.flypanels-treemenu ul li.haschildren a.link {
    text-decoration: none;
    width: 190px;
}
.panelcontent nav.flypanels-treemenu ul li.haschildren a.expand {
    bottom: 0;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 11px;
    padding-top: 11px;
    padding-bottom: 13px;
    position: absolute;
    right: 8px;
    top: 0;
    width: 40px;
}
.panelcontent nav.flypanels-treemenu ul li.haschildren > div > a.expand > i.fa.icon:before {
    content: "\f105";
}
.panelcontent nav.flypanels-treemenu ul li.expanded > div > a.expand > i.fa.icon:before {
    content: "\f107";
}

.panelcontent nav.flypanels-treemenu ul li.haschildren li div a.link {
    border-right: none;
    text-decoration: none;
    width: 260px;
}
.panelcontent nav.flypanels-treemenu ul li.haschildren li.haschildren a.link {
    border-right: 1px solid #b8564c;
    border-right: none;
    text-decoration: none;
    width: 190px;
}

 /*Touch devices :hover fix */
.panelcontent nav.flypanels-treemenu.touch li a:hover {
    background-color: inherit !important;
    color: #fff;
}

.panelcontent nav.flypanels-treemenu li.haschildren > ul {
    margin-bottom: 0;
    margin-top: 0;
    max-height: 0; 
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    
}
.panelcontent nav.flypanels-treemenu li.haschildren.expanded > ul {
    max-height: 3000px;
    overflow: hidden;
    transition-duration: 0.75s;
    transition-timing-function: ease-in;
}
.panelcontent nav.flypanels-treemenu ul li a i {
    font-size: 14px;
    margin-left: 12px;
}
.flypanels-container .offcanvas .panelcontent[data-panel="treemenu"] {
    padding-left: 0;
    padding-right: 0;
}

.panelcontent nav.flypanels-treemenu li div a.link:hover,
.panelcontent nav.flypanels-treemenu li.active > div** > **a.link,
.panelcontent nav.flypanels-treemenu li div a.expand:hover,
.panelcontent nav.flypanels-treemenu ul li a:focus,
.panelcontent nav.flypanels-treemenu .panelcontent nav ul li a:visited,
.panelcontent nav.flypanels-treemenu .panelcontent nav ul li a:link {
    text-decoration: none;
}

.panelcontent nav.flypanels-treemenu ul li.haschildren > div > a.expand > i.fa.icon:before {
    content: "\f078";
}
.panelcontent nav.flypanels-treemenu ul li.expanded > div > a.expand > i.fa.icon:before {
    content: "\f077";
}


